@page
@model WebApp.Pages.SavedGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SavedGame[0].CreatedAtDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedGame[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavedGame[0].Configuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SavedGame) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Configuration.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
