@page
@using Common
@using GameBrain
@model WebApp.Pages.Gameplay

@{
    var baseFontSize = (600 / Model.GameEngine.DimY / 2) + "px";
    var smallFontSize = (600 / Model.GameEngine.DimY / 3) + "px";
    var smallestFontSize = (600 / Model.GameEngine.DimY / 5) + "px";

    var baseBorderSize = Model.GameEngine.DimY > 15 ? "3px" : "6px";
    var smallBorderSize = (Model.GameEngine.DimY > 15 ? 3 : 6) / 1.5 + "px";
    var smallestBorderSize = (Model.GameEngine.DimY > 15 ? 3 : 6) / 2 + "px";

    var gridSize = Model.GameEngine.DimY;
}

<style>
    :root {
        --base-font-size: @baseFontSize;
        --small-font-size: @smallFontSize;
        --smallest-font-size: @smallestFontSize;
        --border-size: @baseBorderSize;
        --small-border-size: @smallBorderSize;
        --smallest-border-size: @smallestBorderSize;
        --grid-size: @gridSize;
    }
</style>

<div class="container">
    @if (!string.IsNullOrWhiteSpace(Model.GameOverMessage))
    {
        <div class="alert alert-success" role="alert">
            @Model.GameOverMessage
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }

    <div class="row">

        <div class="col-md-2 d-flex flex-column align-items-center" id="moveMaker">

            <div class="my-2">
                <span
                    class="badge">@Settings.GameModeStrings[Enum.Parse<EGameMode>(Model.SelectedGameMode)]</span>
            </div>

            @* @if (!string.IsNullOrWhiteSpace(Model.GameOverMessage)) *@
            @* { *@
            @*     <span class="badge"></span> *@
            @* } *@
            @if (string.IsNullOrWhiteSpace(Model.GameOverMessage))
            {
                <div class="my-2">
                    <span class="badge">It's @Model.GameEngine.WhoseTurn()'s<br>turn (@Model.NextMoveBy)</span>
                </div>    
            }
            
            <div class="my-2">
                <span class="badge">Pieces left:<br>X: @Model.GameEngine.XPlayerPiecesLeft()<br>
                     O: @Model.GameEngine.OPlayerPiecesLeft()
                </span>    
            </div>
            
            
        </div>
        <div class="col-md-8 d-flex justify-content-center">
            @if (Model.CanMakeMove)
            {
                <form id="dragForm" method="post">
                    @if (string.IsNullOrWhiteSpace(Model.GameOverMessage))
                    {
                        <input type="hidden" asp-for="From" id="from">
                        <input type="hidden" asp-for="To" id="to">
                    }
                    <div class="game-board">
                        @for (int y = 0; y < Model.GameEngine.DimY; y++)
                        {
                            for (int x = 0; x < Model.GameEngine.DimY; x++)
                            {
                                var boxId = $"{x},{y}";
                                var isGrid = Model.GameEngine.CurrentGridCoordinates.Any(coord => coord[0] == x && coord[1] == y);

                                @if (isGrid)
                                {
                                    <a href="#" class="grid" id="@boxId" draggable="true"
                                       ondragstart="document.getElementById('from').value='@boxId'"
                                       ondragover="event.preventDefault()"
                                       ondrop="document.getElementById('to').value='@boxId'; document.getElementById('dragForm').submit();"
                                       onclick="document.getElementById('to').value='@boxId'; document.getElementById('dragForm').submit();">
                                        @Html.Raw(ConsoleUI.Visualizer.DrawGamePiece(Model.GameEngine.GameBoard[x][y]))
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="board" id="@boxId" draggable="true"
                                       ondragstart="document.getElementById('from').value='@boxId'"
                                       ondragover="event.preventDefault()"
                                       ondrop="document.getElementById('to').value='@boxId'; document.getElementById('dragForm').submit();"
                                       onclick="document.getElementById('to').value='@boxId'; document.getElementById('dragForm').submit();">
                                        @Html.Raw(ConsoleUI.Visualizer.DrawGamePiece(Model.GameEngine.GameBoard[x][y]))
                                    </a>
                                }
                            }
                        }
                    </div>
                </form>
            }
            else
            {
                <div class="game-board">
                    @for (int y = 0; y < Model.GameEngine.DimY; y++)
                    {
                        for (int x = 0; x < Model.GameEngine.DimY; x++)
                        {
                            var boxId = $"{x},{y}";
                            var isGrid = Model.GameEngine.CurrentGridCoordinates.Any(coord => coord[0] == x && coord[1] == y);

                            @if (isGrid)
                            {
                                <a href="#" class="grid" id="@boxId" draggable="false">
                                    @Html.Raw(ConsoleUI.Visualizer.DrawGamePiece(Model.GameEngine.GameBoard[x][y]))
                                </a>
                            }
                            else
                            {
                                <a href="#" class="board" id="@boxId" draggable="true">
                                    @Html.Raw(ConsoleUI.Visualizer.DrawGamePiece(Model.GameEngine.GameBoard[x][y]))
                                </a>
                            }
                        }
                    }
                </div>
            }
        </div>
        @* TODO: vb kaota arrowid ara kui neid veel kasutada ei saa. samas probs ei*@
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            @if (string.IsNullOrWhiteSpace(Model.GameOverMessage) && Model.GameEngine.GetMovePieceAfterNMoves() != 0 && Model.CanMakeMove)
            {
                <form method="post" id="arrowForm">
                    <div class="arrow-grid">
                        <!-- Top row -->
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="nw"
                                aria-label="Arrow Top Left">&#8598;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="n"
                                aria-label="Arrow Up">&#8593;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="ne"
                                aria-label="Arrow Top Right">&#8599;
                        </button>

                        <!-- Middle row -->
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="w"
                                aria-label="Arrow Left">&#8592;
                        </button>
                        <div class="empty-cell"></div> <!-- Middle Empty Cell -->
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="e"
                                aria-label="Arrow Right">&#8594;
                        </button>

                        <!-- Bottom row -->
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="sw"
                                aria-label="Arrow Bottom Left">&#8601;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="s"
                                aria-label="Arrow Down">&#8595;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection" value="se"
                                aria-label="Arrow Bottom Right">&#8600;
                        </button>
                    </div>
                </form>
            }
            @if (Model.GameEngine.GetMovePieceAfterNMoves() != 0)
            {
                @if (!string.IsNullOrWhiteSpace(Model.GameOverMessage) || Model.GameEngine.GetMovePieceAfterNMoves() == 0
                                                                       || !Model.CanMakeMove)
                {
                    <div class="arrow-grid">
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Top Left">&#8598;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Up">
                            &#8593;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Top Right">&#8599;
                        </button>

                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Left">&#8592;
                        </button>
                        <div class="empty-cell"></div> <!-- Middle Empty Cell -->
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Right">&#8594;
                        </button>

                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Bottom Left">&#8601;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Down">&#8595;
                        </button>
                        <button type="submit" class="btn btn-primary arrow-btn" name="ArrowDirection"
                                aria-label="Arrow Bottom Right">&#8600;
                        </button>
                    </div>
                }
            }
        </div>
        <form method="post">
            <button type="submit" id="invisibleSubmit" style="display:none;"></button>
        </form>
    </div>
</div>

@if (Model.GameEngine.GetGameState().GameMode == EGameMode.PvAi &&
     Model.GameEngine.NextMoveBy == Model.GameEngine.GetGameState().AiPiece ||
     Model.GameEngine.GetGameState().GameMode == EGameMode.AivAi)
{
    if (string.IsNullOrWhiteSpace(Model.GameOverMessage))
    {
        @* <script> *@
        @*     document.getElementById('invisibleSubmit').click(); *@
        @* </script> *@

        var random = new Random();
        var delay = random.Next(Settings.AiDelayMin, Settings.AiDelayMax); // Delay for AI
        <script>
            setTimeout(function () {
                document.getElementById('invisibleSubmit').click();
            }, @delay); // Inject delay value from server-side
        </script> // TODO: fix, cannot leave ai games as they are not saved then.
    }
}
@if (Model.GameEngine.WhoseTurn() != Model.UserName && Model.GameEngine.WhoseTurn().ToLower() != "ai"
                                                    && Model.GameEngine.WhoseTurn().ToLower() != "ai1" && Model.GameEngine.WhoseTurn().ToLower() != "ai2"
                                                    && string.IsNullOrEmpty(Model.GameOverMessage))
{
    <script>
        setInterval(function () {
            location.reload();
        }, 1000); // Refresh every 1000 milliseconds (1 second)
    </script>
}